@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100=;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    background: url(/img/login/bg-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/* Contenedores */

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.form {
    height: 70vh;
    width: 60vw;
    background-color: rgba(83, 167, 240, 0.76);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 2px 3px 20px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 3px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 20px -7px rgba(0, 0, 0, 0.75);
}

.header-form {
    position: relative;
}

/* Header */

.header-form img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    height: 4.5rem;
    width: 10.5rem !important;
    margin: 8px 0 0 20px;
}

/* Imagen usuario */

.User-icon {
    width: 90px;
    margin-bottom: 20px;
}